a{
    text-decoration: none;
}

.accounting-block{
    color: black;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px;
}

.statistic-block{
    border: 2px solid gray;
    border-radius: 5px;
}

.accounting-option-button{
    width: 300px;
    margin-top: 10px;
}

.operation-link{
    margin-right: 10px;
}